@CHARSET "UTF-8";

body{
	width:960px;
	height:738px;
	margin:10px auto;
}

h2{
	margin:0 0;
	background:#eee;
	font-size:16px;
	text-indent:15px;
}


#head{
	width:960px;
	height:150px;
	border:1px black solid;
}

#head a {
	text-decoration:none;
	border:0xp
		
}

#head a img{
	margin:30px auto auto 30px;
	border:0px;

}

#head ul{
	margin-top:20px;
	margin-left:520px;	
}

#head ul li{
	float:left;
	list-style:none;
	margin:5px;

}

#head ul li a{
	text-decoration:none;
	font-size:16px;
	display:block;	
}

#footer{
	width:960px;
	height:60px;
	clear: both;
}

#footer h3{
	font-size:12px;
	text-align:center;
}

#footer h3 a{
	color:blue;
}